@model List<Wave.Models.Post>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/prueba.css">
    <title>Prueba</title>
</head>
<body>
    <img src="https://t4.ftcdn.net/jpg/00/76/71/47/360_F_76714703_b3zttvaKJJ3aa368dtcF76nAt9GSWyPy.jpg" alt="" width="150px" height="100px">
    <div id="profilePic">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
    </div>
    <br><br>
    <div id="postZone">
        <ul>
            @foreach (var post in Model)
            {
                if (post.UserId == 1)
                {
                    <li class="post-item">
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(post.Content)" alt="Imagen" />
                    </li>
                }
            }
        </ul>
    </div>
</body>
</html>
<footer>
    Si llegaste hasta aquí sabes demasiado
</footer>
