@model List<Wave.Models.Post>

<h1></h1>

<table>
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Post
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var post in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(p => post.PostId)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(u => post.User.UserName)
                </td>
            </tr>
        }
    </tbody>
</table>