@{
    ViewData["Title"] = "Profile Page";
    int? otheruser = ViewBag.OtherUser;
    string otherusername = ViewBag.OtherUserName;
}

@model List<Wave.Models.Post>

<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/test.css">

<main>
    <div class="main__profile">
        <div id="profilePic">
            <!--Foto de perfil del usuario con el id asignado a la session-->
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
        </div>
        <br>
        <div class="spaceName">
            <!--Nombre del usuario con el id asignado a la session-->
            @if (otherusername == null)
            {
                <h3>Nada de esto importa</h3>
            }
            else
            {
                <h3>@otherusername</h3>
            }
        </div>
        <br>

        <br>
        <div id="postZone">
            <ul>
                @if (Model != null)
                {
                    foreach (var post in Model)
                    {
                        if (post.UserId == otheruser && post.IsDeleted == false)
                        {
                            <li class="post-item">
                                <img src="data:image/jpeg;base64, @Convert.ToBase64String(post.Content)" alt="Imagen" />
                            </li>
                        }
                    }
                }
                else
                {
                    <p>No hay datos para mostrar.</p>
                }
            </ul>
        </div>
    </div>

    <!-- Contenedor del popup Post -->
    <div id="post_popupContainer" class="post_popup">
        <div class="post_popup-content">
            <span class="post_popup-close" id="post_popup-close">&times;</span>
            <div class="post_popup-image-container">
                <img id="post_popup-image" src="" alt="Imagen">
            </div>
            <div class="post_popup-text-container">
                <p id="post_popup-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ipsum labore quas facere enim optio expedita aperiam excepturi nesciunt maxime et possimus vitae, debitis quidem unde! Blanditiis ipsa minima vero?<!-- Aqui iria la descripcion obteniendolo de la BD--></p>
            </div>
        </div>
    </div>

    <script src="~/js/posts.js"></script>
</main>
