@{
    ViewData["Title"] = "Search Users";
}

@model List<Wave.Models.Usuario>

<h2>Search Results</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var otheruser in Model)
            {
                <tr>
                    <td>@otheruser.UserId</td>
                    <td>@otheruser.UserName</td>
                    <td>
                        <a asp-action="Profile" asp-controller="User" asp-route-otheruser="@otheruser.UserId">View Profile</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No users found.</p>
}
