@{
    ViewData["Title"] = "Search Users";
}

@model List<Wave.Models.Usuario>

<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/search.css">


@if (Model.Any())
{

    <main>
        <div class="search">
            <h1>Search</h1>
            <div class="search__input">
                <input type="text" placeholder="Search" id="searchText">
            </div>
        </div>

        <div id="searchResults" style="
            background-color: var(--color-white);
            width: 350px;
            text-align: center;
            position: absolute;
            left: 55%;
            top:30%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            color: var(--color-dark);
            box-shadow: var(--box-shadow);
            border-radius: 1rem;"></div>
        <div style="display: none;">
            <p id="namesConsulta">
                @foreach (var otheruser in Model)
                {
                    @otheruser.UserName @("$") @otheruser.UserId @("%")
                }
            </p>

        </div>
    </main>
}
else
{
    <p>No users found.</p>
}


<script>
    // Obtener los nombres y dividirlos en un array
    let getNames = document.getElementById("namesConsulta");
    let namesString = getNames.innerHTML;
    let names = namesString.split("%");

    // Obtener el elemento searchResults fuera de la función
    let searchResults = document.getElementById("searchResults");

    setInterval(ShowSearchResults, 2000);

    async function ShowSearchResults() {
        let htmlResults = "";

        let inputElement = document.getElementById('searchText');
        let textoEscrito = inputElement.value.toLowerCase();

        if (textoEscrito != "" && textoEscrito != " " && textoEscrito != "  ") {
            let nombresCoincidentes = names.filter(function (nombre) {
                return nombre.toLowerCase().includes(textoEscrito);
            });

            // Iterar sobre los elementos hijos de searchResults
            for (let i = 0; i < nombresCoincidentes.length; i++) {
                let NamesIds = nombresCoincidentes[i].split("$");
                htmlResults += "<a href='Profile?otheruser=" + NamesIds[1] + "&otherusername=" + NamesIds[0] + "'>" + NamesIds[0] + "</a><br>";

            }

            // Actualizar el contenido de searchResults
            searchResults.innerHTML = htmlResults;
        }
        else {
            searchResults.innerHTML = "";
        }
    }
</script>