html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#profilePic img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
#profilePic{
  text-align: center;
}

#postZone{
  text-align: center;
}
#postZone li{
  display: inline-block;
  width: 250px;
  height: 250px;
  background-color: rgb(219, 219, 219);
  margin: 20px;
  border-radius: 5px;

  transition: opacity 1s, width 1s, height 1s;
}
#postZone li:hover{
  width: 270px;
  height: 270px;
}



